@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.image{
  height: 2em;
  padding: 2%;
  
}

.headerBar{
  
}

.navbar-list{
  text-decoration: none;
}