@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.image{
  height: 40px;
  padding: 10px;
  /* margin-right: 10px; */
  
}

.headerBar{
  /* display: flex; */
}

.navbar-list{
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  text-transform: uppercase;
  /* justify-content: space-between; */
}


nav{
  display: flex;
  background-color: rgb(229, 217, 234);
}


.intro-container{
  text-align: center;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". .";

}

.hello{
  font-size: 2em;

}

.handla{
  font-size: 6em;
  margin-top: 5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(105, 103, 101);
}

.image-con{
  width: 800px;
}