@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body {
  margin: 0;
  /* max-width: 1200px; responsive UI */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.logo{
  height: 40px;
  /* padding: 10px; */
  
}

.image-con{
  width: 100%;
  height: auto;
}
@media(max-width: 600px){
  .image-con{
    max-width: 100%;
  }
}

.headerBar ul li{
  /* display: flex; */
  color: rgb(12, 12, 12);
  display: inline-block;
  margin-right: 10px;
  font-weight: bolder;
  
}

.navbar-list{
  cursor: pointer;
  text-transform: uppercase;
}


nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  /* background-color: rgb(235, 231, 237); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 4px 12px;
  backdrop-filter: blur(5px);
}

/* nav:hover{
  background-color: rgb(81, 79, 79);
} */

.title{
  text-align: center;
  text-transform: uppercase;
  font-size: 6em;
  font-family: Headlines Light;
  color: rgb(105, 103, 101);
}

.title:hover{
  color: rgb(161, 127, 255);
}

.intro-container{
  padding: 60px 20px;
  text-align: center;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". .";

}

.hello{
  font-size: 2em;
  font-family: Headlines Light;

}

.handla{
  font-size: 6em;
  margin-top: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(105, 103, 101);
}

.handla:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #646cffaa);
}
.handla.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.footer{
  color: aliceblue;
  background-color: rgb(92, 89, 113);
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."; 
}

.content{
  padding: 45px;
  justify-content: center;
  color: rgb(24, 79, 126);
}

.skills_card{
  height: 300px;
  width: 300px;
  background-color: rgb(224, 238, 248);
}